@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #f4f4f4;
}

body::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
    background: #FFEC9E;        /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
    background-color: #FFBB70;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid #FFEC9E;  /* padding вокруг плашки */
}

::selection {
    background: #FFFBDA; /* Safari */
}
    
::-moz-selection { 
    background: #FFFBDA; /* Firefox */
}
    

.wrapper {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #FFEC9E;
}


/* HEADER */
.header {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px; 
    background-color: #f1f1f1;
}

.header-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: #FFAF45;
}

.header-navigation {
    
}

.header-navigation-link {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #FFAF45;

    transition: color .2s linear;
    -o-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
}

.header-navigation-link:hover {
    color: #FB6D48;
}


/* INTRO */
.intro {
    background-image: url("../images/intro-background.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    height: 900px;
}

.intro-block {
    width: 550px;
    padding-top: 200px;
    margin-left: 300px;
}

.intro-title {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 44px;
    color: #FFC100;
    width: 100%;
    word-spacing: 7px;
    text-transform: uppercase;
}

.intro-button {
    margin-top: 60px;
    background-color: #FFC100;  
    padding: 16px 48px;
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #f1f1f1;
    font-size: 16px;
    text-transform: uppercase;

    transition: background-color .2s linear;
    -o-transition: background-color .2s ease;
    -ms-transition: background-color .2s ease;
    -webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
}

.intro-button:hover {
    background-color: #FB6D48;  
}


/* PRICE */
.price {
    height: 800px;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    margin-top: 60px;
}

.price-title {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 32px;
    color: #FFC100;
    width: 100%;
    text-align: center;
    word-spacing: 7px;
    text-transform: uppercase;
}

.price-description {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    width: 100%;
    text-align: center;
    color: #FFC94A;
}